  <h3 style="text-align:center">Store Management</h3>
  <div class="row text-center py-3" id="leftcolumn">
    <div class="col-md-4">
      <a href="/admin/allProducts">Products List</a>
    </div>
    <div class="col-md-4">
      <a href="/admin/allCategories">Categories List</a>
    </div>
    <div class="col-md-4">
      <a href="/admin/allOrders">Orders List</a>
    </div>
  </div>