<div class="container">
     <a href="/admin/" class="btn btn=primary"style="background-color: rgb(239, 247, 239);">Back To Admin Page</a>
    <div class="row">
    <div class="mb-3"></div>
    <form action="/admin/addCategory" method="post" id="addCategory">
        <h3 class="text-center">Add New Category</h3>
    <div class="mb-3">    
                        <div class="addCategory">
                            <div class="row">
                                <div class="mb-3">
                                    <label>Name</label>
                                    <input class="form-control" type="text" placeholder="Name" name="name" required>
                                </div>
                                <div class="mb-3">
                                    <label>Image Path</label>
                                    <input class="form-control" type="text" placeholder="Image Path" name="imagePath" required>
                                </div>
                                <div class="mb-3">
                                    <button class="btn" type="submit">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
    <div class="mb-3"></div>
</div>
</div>